* {
  margin: 0 auto;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  margin-top: 40px;
  max-width: 600px;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

h1 {
  color: white;
  box-shadow: 5px 5px 10px rgba(0,0,0, .2);
}

.app {
  max-width: 350px;
  max-height: 320px;
  background-color: #fff;
  margin: 40px auto 40px auto;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0, .2);
}

.counter {
  width: 200px;
  height: 50px;
  margin: 0;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0, .2);
  background-color: #e6e6e6;
  text-align: center;
  font-size: 34px;
}

.top_controls {
  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  gap: 20px;
  flex-wrap: wrap; */
  width: 350px;
  height: 250px;
  margin: 0;
  display: grid; 
  grid-auto-flow: column; 
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr); 
  gap: 0px; 
  grid-template-areas: 
    "top-rub"
    "top-money"
    "top-total"; 
  justify-content: space-between; 
  align-content: center; 
}

.top-rub {
  grid-area: top-rub;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  width: 350px;
}


.top-money {
  grid-area: top-money;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  width: 350px;
}

.top-total {
  grid-area: top-total;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  width: 350px;
}

.top_controls img {
  width: 100px;
  margin: 0;
}

.top_controls input {
  width: 200px;
  height: 26px;
  text-align: center;
  margin: 0;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.controls button {
  padding: 7px 12px;
  cursor: pointer;
  color: white;
  background-color: #da470c;
}

.controls button:disabled {
  background-color: #6B7A8F;
}

.moneyList {
  height: 30px;
  width: 100%;
  /* text-align: center; */
}

